footer {
    display: flex;
    flex-direction: column;
    gap: 9vh;

    #FooterTop {
        display: flex;

        #footerTop-Left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5vh;

            img {
                width: 25%;
            }

            p {
                width: 60%;
            }

            .socialLinks {
                display: flex;
                gap: 5vh;

                li {

                    a {
                        color: #a1a2b3;

                        i {
                            font-size: 20px;
                        }

                        &:hover {
                            color: #8358ff;
                        }
                    }
                }
            }
        }

        #footerTop-Right {
            display: flex;
            gap: 15vh;

            .siteInfoLinks {
                display: flex;
                flex-direction: column;
                gap: 3vh;

                .siteInfoLinks-Main {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    #FooterBottom {
        display: flex;
        justify-content: space-between;
        position: relative;

        #footerBottomLinks {
            display: flex;
            gap: 5vh;
        }
    }
}