main {

    .background {
        position: absolute;
        top: 0;
        width: 100%;
        height: 70vh;
        z-index: -1;
    }

    /* index.html */

    #UpBanner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10vh;

        #upBanner-Main {
            display: flex;
            flex-direction: column;
            gap: 5vh;
            width: 70vh;

            h1 {
                font-size: 60px;
                color: #131740;
                width: 85vh;
            }

            p {
                font-size: 20px;
                color: #5a5d79;
            }

            ul {
                display: flex;
                gap: 3vh;

                li {
                    padding: 2vh;
                    width: 20vh;
                    border-radius: 20vh;
                    text-align: center;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;

                    &:nth-child(1) {
                        background-color: #8358ff;

                        a {
                            color: white;
                        }

                        &:hover {
                            background-color: #7444ff;
                        }
                    }

                    &:nth-child(2) {
                        background-color: #fff;
                        box-shadow: 8px 8px 16px #aaa, -8px -8px 16px #fff;

                        a {
                            color: #8358ff;
                        }

                        &:hover {
                            background-color: #7444ff;

                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        #upBannerImages {

            img {

                &:nth-child(1) {
                    position: relative;
                    top: 4vh;
                    right: -7vh;
                    width: 90vh;
                    z-index: 1;
                }

                &:nth-child(2) {
                    position: absolute;
                    top: 35vh;
                    right: 17vh;
                    transform: rotate(10deg);
                    border-radius: 20vh;
                    width: 70vh;
                    z-index: -1;
                }
            }

            .up-down-animation {
                animation-name: up-down;
                animation-duration: 7s;
                /* Adjust duration for animation speed */
                animation-iteration-count: infinite;
                /* Loop animation forever */
            }

            @keyframes up-down {
                0% {
                    transform: translateY(0);
                }

                /* Start at original position */
                50% {
                    transform: translateY(-50px);
                }

                /* Move image down */
                100% {
                    transform: translateY(0);
                }

                /* Move image back up (loop) */
            }

        }
    }

    #HotBids {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4vh;

        .sectionHeader {
            img {
                padding-bottom: 0.9vh;
            }
        }

        .hotBidsCards {
            display: flex;
            gap: 4vh;
            overflow-x: scroll;
            scrollbar-width: none;
            position: relative;
            width: 100% !important;

            .swiper-wrapper {
                display: flex;

                .hotBidsCard {
                    display: flex;
                    flex-direction: column;
                    gap: 2vh;
                    padding: 3vh;
                    margin: 5vh;
                    border: solid 1px #e7e8ec;
                    border-radius: 5vh;
                    width: 20% !important;
                    overflow: hidden;

                    button {
                        background: none;
                        border: none;
                        color: #8358ff;
                        font-size: 14px;
                        cursor: pointer;
                    }

                    .hotBidsCard-Top {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        a {
                            margin-top: 0.5vh;
                            color: #131740;

                            &:hover {
                                color: #8358ff;
                            }
                        }

                        span {
                            display: flex;
                            align-items: center;
                            color: #10B981;
                            border: solid 1px #e7e8ec;
                            border-radius: 1vh;
                            padding: 2px 3px;
                            font-size: 15px;

                            img {
                                width: 20px;
                                height: 18px;
                            }
                        }
                    }

                    .hotBidsCard-Center {
                        margin-bottom: 1vh;
                    }

                    .hotBidsCard-Bottom {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        i {
                            padding-right: 1vh;
                        }

                        span {
                            color: #5a5d79;
                        }
                    }
                }
            }

            .BothSwiperArrows {
                background-color: #F2F3F4;
                color: #7E7E7E;
                width: 45px;
                height: 45px;
                position: absolute;
                border-radius: 6vh;
                border: none;
                cursor: pointer;
                transition: transform 0.5s ease-in-out;

                &:hover {
                    background-color: #3BB77E;
                    color: white;
                }

                &::after {
                    content: "";
                }
            }
        }
    }

    #TopCollections {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5vh;
        background-color: #fcfcfe;

        .sectionHeader {

            .TopCollectionsDropdown {
                position: relative;
                display: inline-block;

                h1, h2 {
                    cursor: pointer;
                }
                
                h1 {
                    color: #8358ff;

                    i {
                        margin-left: 5px;
                        transition: 0.2s ease-in-out;
                        position: relative;
                        top: 2px;
                    }
                }

                .dropdownContent {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    width: 35vh;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }

                &:hover {
                    .dropdownContent {
                        display: flex;
                        align-items: flex-start;
                        padding: 5vh 6vh;
                        flex-direction: column;
                        gap: 5vh;
                        position: absolute;
                        top: 6.5vh;
                        left: -1vh;
                        background-color: white;
                        border-radius: 3vh;
                        
                        i {
                            transform: rotate(180deg);
                        }
                        
                    }
                }
            }
        }

        #topCollectionsCards {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 4vh;

            .topCollectionsCard {
                display: flex;
                align-items: center;
                gap: 2vh;
                width: 45vh;
                border: solid 2px #e9f0ed;
                border-radius: 4vh;
                background-color: #fff;
                padding: 3vh 0;

                span {
                    transform: translateX(3.5vh);
                    background-color: #131740;
                    color: white;
                    border: solid 1px white;
                    border-radius: 10vh;
                    width: 3.5vh;
                    text-align: center;
                }
            }
        }

        #goToRankings {
            background-color: #8358ff;
            padding: 2.5vh;
            width: 30vh;
            border-radius: 20vh;
            text-align: center;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            color: white;

            &:hover {
                background-color: #7444ff;
            }
        }
    }
}

.TrendingCategories {
    display: flex;
    flex-direction: column;
    gap: 7vh;

    .trendingCategories-Header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 25vh;

        ul {
            display: flex;
            gap: 3vh;

            li {
                display: flex;
                align-items: center;
                padding: 1.5vh 2vh;
                color: #5a5d79;
                border: solid 1px #e7e8ec;
                border-radius: 2vh;
                font-size: 15px;

                &:nth-child(1) {
                    background-color: #e7e8ec;
                }
            }
        }
    }

    .trendingCategories-Cards {
        display: flex;
        justify-content: center;
        gap: 6vh;
        flex-wrap: wrap;

        .trendingCategories-Card {
            border: solid 1px #e7e8ec;
            border-radius: 2vh;
            padding: 3vh;





            .trendingCategories-TextBottom {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    display: flex;
                    align-items: center;
                    gap: 0.5vh;

                    img {
                        padding-bottom: 0.5vh;
                    }
                }
            }
        }
    }
}

#CreateAndSellYourNFTs {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    background-color: #fcfcfe !important;

    #createAndSellYourNFTs-Cards {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .createAndSellYourNFTs-Card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 4vh;
            width: 45vh;

            .createAndSellYourNFTs-ImageShadow {
                width: 8vh;
                padding: 1.5vh;
                border-radius: 5vh;

                &:nth-child(1) {
                    background-color: #CDBCFF !important;
                }

                &:nth-child(2) {
                    background-color: #C4F2E3 !important;
                }

                &:nth-child(3) {
                    background-color: #cddffb !important;
                }

                &:nth-child(4) {
                    background-color: #ffd0d0 !important;
                }

                .createAndSellYourNFTs-Image {

                    &:nth-child(1) {
                        background-color: #8358ff !important;
                    }

                    &:nth-child(2) {
                        background-color: #10B981 !important;
                    }

                    &:nth-child(3) {
                        background-color: #428AF8 !important;
                    }

                    &:nth-child(4) {
                        background-color: #ef4444 !important;
                    }

                }
            }
        }
    }

    #createAndSellYourNFTs-Bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 7vh;

        p {
            font-size: 20px;
            width: 56%;
        }

        form {
            position: relative;

            input {
                padding: 2.5vh;
                width: 75vh;
                border-radius: 5vh;
                outline-color: #8358ff;
                border: solid 1px #e7e8ec;
            }

            button {
                position: absolute;
                right: 2vh;
                top: 1.2vh;
                border: none;
                background: #8358ff;
                color: white;
                padding: 1.5vh;
                width: 15vh;
                border-radius: 5vh;
                cursor: pointer;
            }
        }
    }
}

/* collections.html */

.exploreCollections-Images {
    display: flex;
    align-items: center;
    gap: 2vh;

    img {
        border-radius: 2vh;
    }
}

.exploreCollections-SmallImages {
    display: flex;
    flex-direction: column;
    gap: 1.65vh;
}

.exploreCollections-CardBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
    margin-top: 2vh;

    .CardBottomLink {
        color: #131740;

        &:hover {
            color: #8358ff;
        }
    }
}

.exploreCollections-CardBottomLeft {
    display: flex;
    align-items: center;
    gap: 1vh;
    position: relative;

    p {
        a {
            font-family: "DM Sans", sans-serif;
            font-weight: 600;
        }
    }

    span {
        position: absolute;
        right: 0;
        color: #5a5d79;
        font-weight: 600;
    }
}