header {
    #headerMobileContent {
        display: none;
    }

    #connectWallet {
        display: none;
    }
}

main {
    #UpBanner {
        #upBannerMobileImages {
            display: none;
        }
    }
}

@media only screen and (max-width: 1200px) {

    header {

        #headerContent {
            display: none;
        }

        #headerMobileContent {
            display: flex;
            flex-direction: column;
            align-items: unset;
            padding-top: 1vh;
            width: 100%;
            height: 100vh;

            #headerMobileTop {
                display: flex;
                justify-content: space-between;
                padding-left: 4vh;
                padding-right: 4vh;

                .websiteLogo {
                }

                .headerButtons {
                }

            }

            .headerMobileInput {
                display: none;
            }

            .InputShow {
                display: block;
                padding-left: 4vh;
                position: relative;

                img {
                    position: absolute;
                    left: 6vh;
                }

                input {
                    width: 92vw;
                    height: auto;
                }
            }

            /* navMenu for mobile view */
            .navMenu {
                display: none;
                position: relative;
                width: 100%;
                top: 0;
                left: 0;
                background-color: #eee;
                z-index: 1;
                padding-left: 5vh;
                transition: 0.5s;

                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding-right: 4vh;

                    li {
                        padding: unset;

                        .dropdownMobile {
                            font-size: 18px !important;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            text-decoration: none;
                            font-size: 20px;
                            color: #818181;
                            transition: 0.3s ease-in-out;
                            position: relative;
                            cursor: pointer;

                            img {
                                position: absolute;
                                right: 0;
                            }

                            .dropdownMobileLinks {
                                color: #5a5d79;

                                &:hover {
                                    color: #8358ff;
                                }
                            }

                            .dropdownContent {
                                display: none;
                            }

                            .dropdownContentShow {
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                height: auto;
                                padding: 3vh;
                                gap: 2vh;
                            }

                        }

                        a {
                            width: 100%;
                            padding-left: 40px;
                            padding-top: 10px;
                            padding-bottom: 7px;
                            position: relative;

                            &:hover {
                                background-color: white;
                                border-radius: 2vh;
                            }

                            img {
                                position: absolute;
                                left: 10px;
                                top: 6px;
                            }
                        }

                        .LastMobileLink {
                            font-size: 18px;
                            color: #5a5d79;
                            cursor: pointer;

                            &:hover {
                                color: #8358ff;
                            }
                        }
                    }
                }
            }

            .navMenuShow {
                display: flex !important;
            }

            #headerMobileBottom {
                display: flex;
                flex-direction: column;
                gap: 5vh;

                #connectWallet {
                    padding: 2vh;
                    width: 89vw;
                    border-radius: 2vh;
                    text-align: center;
                    cursor: pointer;
                    transition: 0.1s ease-in-out;
                    background-color: #8358ff;
                    color: white;
                    border: none;
                    position: relative;
                    margin-left: 5vh !important;

                    &:hover {
                        background-color: #7444ff;
                    }

                    &::after {
                        content: "";
                        border-bottom: solid 1px #5a5d79;
                        position: absolute;
                        top: 9vh;
                        left: 10vw;
                        width: 70vw;
                    }
                }

                .headerSocialLinks {
                    display: flex;
                    justify-content: center;
                    gap: 5vh;
    
                    li {
    
                        a {
                            color: #a1a2b3;
    
                            i {
                                font-size: 20px;
                            }
    
                            &:hover {
                                color: #8358ff;
                            }
                        }
                    }
                }
            }
        }
    }

    main {

        section,
        #createAndSellYourNFTs-Cards {
            display: flex;
            flex-wrap: wrap;
        }

        #createAndSellYourNFTs-Bottom {

            p {
                width: 85% !important;
                font-size: 18px !important;
            }

        }

        #UpBanner {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            #upBanner-Main {

                h1 {
                    width: 75vh;
                    font-size: 50px;
                }

                p {
                    width: 65vh;
                    font-size: 18px;
                }
            }

            #upBannerImages {

                img {
                    &:nth-child(1) {
                        position: absolute;
                        top: -2vh;
                        right: 0;
                        width: 75vh;
                    }

                    &:nth-child(2) {
                        position: absolute;
                        top: -8vh;
                        right: 5vh;
                        width: 65vh;
                    }
                }
            }
        }

        .trendingCategories-Header {
            display: flex;
            justify-content: unset;
            align-items: unset;
            flex-wrap: wrap;
            gap: 5vh;

            ul {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-right: 0 !important;
            }
        }
    }

    footer {
        display: flex;
    }

    @media only screen and (max-width: 920px) {

        section {
            padding: 5vh 0 0 0;
        }

        #UpBanner {
            display: flex;
            flex-direction: column;

            #upBanner-Main {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                margin-top: -10vh !important;

                h1,
                p {
                    width: 90% !important;
                }
            }

            #upBannerImages {
                display: none;
            }

            #upBannerMobileImages {
                display: flex !important;
                align-items: center;
                position: relative;
                margin-bottom: 10vh;

                img {
                    top: 5vh;

                    &:nth-child(1) {
                        position: relative;
                        top: 18vh;
                        left: 10vh;
                        width: 80%;
                        z-index: 1;
                    }

                    &:nth-child(2) {
                        position: absolute;
                        top: 15%;
                        left: 15%;
                        transform: rotate(10deg);
                        border-radius: 20vh;
                        width: 70%;
                        z-index: -1;
                    }
                }

                .up-down-animation {
                    animation-name: up-down;
                    animation-duration: 7s;
                    /* Adjust duration for animation speed */
                    animation-iteration-count: infinite;
                    /* Loop animation forever */
                }

                @keyframes up-down {
                    0% {
                        transform: translateY(0);
                    }

                    /* Start at original position */
                    50% {
                        transform: translateY(-50px);
                    }

                    /* Move image down */
                    100% {
                        transform: translateY(0);
                    }

                    /* Move image back up (loop) */
                }
            }
        }


        footer {
            padding: 5vh 0 5vh 0;
        }

        #FooterTop,
        #footerTop-Left,
        #FooterBottom {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;

            p {
                width: 90% !important;
            }
        }

        .infoLinks1 {
            display: flex;
            gap: 1vh;
        }

        .infoLinks2 {
            display: flex;
            gap: 2vh;
        }

        .infoLinks3 {
            display: flex;
            gap: 3.8vh;
        }

        #FooterTop {
            gap: 5vh;
        }

        #FooterBottom {
            gap: 3vh;
        }
    }

    @media only screen and (max-width: 660px) {

        #TopCollections {

            .sectionHeader {
                display: flex;
                flex-direction: column;
                gap: 3vh;
            }
        }

        #createAndSellYourNFTs-Cards {
            display: flex !important;
            flex-direction: column;
            width: 100%;
        }

        #createAndSellYourNFTs-Bottom {

            p {
                font-size: 16px !important;
            }

            form {
                input {
                    width: 50vh !important;
                }
            }

        }
    }

    @media only screen and (max-width: 500px) {

        footer {
            display: flex;
            gap: 6vh !important;
        }

        #footerTop-Right {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 7vh !important;
        }
    }
}